/* ===========================
   KATALOG PRODUK
=========================== */
.katalog-produk {
  padding: 40px 20px;
  text-align: center;
}

.katalog-produk h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.kategori .text-container p {
  margin: 5px 0;
  font-size: 16px;
  opacity: .8;
}

.kategori .text-container h3 {
  font-size: 22px;
  margin-top: 5px;
  font-weight: bold;
}

.produk-container {
  disp
